
body{
	font-family: 'Roboto', sans-serif;
	color: #fff;
	background-color: #000;
	background-image: url("../images/background/bg.png");
	background-attachment: fixed;
	background-size: cover;
	position: relative;
	height: 100%;

	/*General styles*/
    padding: 0;
    margin: 0;
	font-size: 1.375rem;
    font-weight: bold;
	text-transform: uppercase;
	justify-content: center;
	align-items: center;
}

.container {
	height: 100%;
	width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
	align-items: center;
}

.content{
	text-align: center;
}

@media screen and (max-width: 900px) {
	.container{
		flex-direction: column;
	}
}